<%- include('partials/header.ejs') %>

<main>
    <% console.log(locals.standRow); %>
    <% console.log(locals.standHeader); %>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <p class="text-center text-muted mb-1 fs-6">
          Competition: <span class="fw-semibold"><%= locals.standHeader.competition.name %></span>
        </p>

        <div class="card standing-card">
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
              <thead>
                <tr>
                  <th class="rank-col">#</th>
                  <th class="team-col">Squadra</th>
                  <th class="stat-col">PG</th>
                  <th class="stat-col">V</th>
                  <th class="stat-col">N</th>
                  <th class="stat-col">P</th>
                  <th class="stat-col points-col">PT</th>
                </tr>
              </thead>
              <tbody>
                <% locals.standRow.forEach(element => { %>
                    <tr>
                        <td class="rank-col">1</td>
                            <td class="team-col d-flex align-items-center">
                                <img
                                src="<%=  %>"
                                class="team-logo-small"
                                alt="logo Inter"
                                />
                                <span class="team-name">element.table.name</span>
                            </td>
                        <td class="stat-col">25</td>
                        <td class="stat-col">20</td>
                        <td class="stat-col">3</td>
                        <td class="stat-col">2</td>
                        <td class="stat-col points-col text-primary">63</td>
                    </tr>
                <% }); %>
                <tr>
                  <td class="rank-col">8</td>
                  <td class="team-col d-flex align-items-center">
                    <img
                      src="https://crests.football-data.org/110.png"
                      class="team-logo-small"
                      alt="logo Lazio"
                    />
                    <span class="team-name">Lazio</span>
                  </td>
                  <td class="stat-col">25</td>
                  <td class="stat-col">12</td>
                  <td class="stat-col">4</td>
                  <td class="stat-col">9</td>
                  <td class="stat-col points-col">40</td>
                </tr>

                <tr class="relegation-row-bg">
                  <td class="rank-col">18</td>
                  <td class="team-col d-flex align-items-center">
                    <img
                      src="https://crests.football-data.org/450.png"
                      class="team-logo-small"
                      alt="logo Verona"
                    />
                    <span class="team-name text-danger fw-bold">Verona</span>
                  </td>
                  <td class="stat-col">25</td>
                  <td class="stat-col">4</td>
                  <td class="stat-col">8</td>
                  <td class="stat-col">13</td>
                  <td class="stat-col points-col">20</td>
                </tr>
                <tr class="relegation-row-bg">
                  <td class="rank-col">19</td>
                  <td class="team-col d-flex align-items-center">
                    <img
                      src="https://crests.football-data.org/107.png"
                      class="team-logo-small"
                      alt="logo Cagliari"
                    />
                    <span class="team-name text-danger fw-bold">Cagliari</span>
                  </td>
                  <td class="stat-col">25</td>
                  <td class="stat-col">4</td>
                  <td class="stat-col">8</td>
                  <td class="stat-col">13</td>
                  <td class="stat-col points-col">20</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="mt-4 d-flex gap-3 justify-content-center small text-muted">
          <span
            ><span class="badge bg-primary rounded-pill">&nbsp;</span> Champions
            League</span
          >
          <span
            ><span class="badge bg-danger rounded-pill">&nbsp;</span>
            Retrocessione</span
          >
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>
